
* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: Poppins;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  :root {
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: white;
    --main-color: #ff0000;
  }
  
  html {
    overflow-x: hidden;
    font-size: 60%;
  }
  
  body {
    background: var(--bg-color);
  }
  
  .head {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1.8rem 10%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    text-wrap: nowrap;
  }
  
  .head > .titlename {
    color: white;
    font-weight: 15px;
    font-size: 35px;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
  }
  
  .head > .titlename:hover {
    transform: scale(1.05);
  }
  
  span {
    background: linear-gradient(270deg,#ff72ad 12%,#d41212  100%);
    background-clip: text;
    color: transparent;
    margin-left: 2px;
    font-size: 35px;
  }
  
  .navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
  }
  
  .navbar a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
  }
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    flex-direction: row-reverse;
    background-color: #0c0c0c8f;
  }
  
  .isi-content2 > h2 {
    font-size: 35px;
    color: white;
    margin-bottom: 60px;
  }
  
  .paragraf {
    font-size: 18px;
    font-weight: 450;
    margin-top: 1rem;
    line-height: 1.7;
    color: white;
    margin-top: -30px;
  }
  
  .isi-content2 {
    display: flex;
    flex-direction: column;
  }
  
  .paragraf > .top {
    color: white;
    font-size: 30px;
    line-height: 1;
  }
  
  .paragraf > .top > .highlight-nama {
    font-size: 30px;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .paragraf span {
    font-size: 20px;
  }
  .gambar-kedua img {
    width: 32vw;
  
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  .gambar-kedua img:hover {
    transform: scale(1.05);
    border: 5px solid #fc6060;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px,
      rgba(255, 255, 255, 0.12) 0px -12px 30px,
      rgba(255, 255, 255, 0.12) 0px 4px 6px,
      rgba(255, 255, 255, 0.17) 0px 12px 13px,
      rgba(255, 255, 255, 0.09) 0px -3px 5px;
  }
  .icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    margin: 5rem 1rem;
    font-size: 4.2rem;
    padding: 0.5rem;
    background: transparent;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    border: solid 2px var(--main-color);
  }
  
  .icon a:hover {
    background-color: var(--main-color);
    color: var(--text-color);
    transform: scale(1.2) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
  }
  
  